annotated-types
anyio
certifi
click
dnspython
fastapi
h11
httpcore
httpx
idna
iniconfig
motor
packaging
pluggy
pydantic
pydantic_core
pymongo
pytest
sniffio
starlette
typing_extensions
uvicorn
pydantic[email]